extends layout

block content
    h1.
         #{title}
    ul
        - each user, i in users
            li
                = user.firstName
                = user.lastName
                = user._id
                = user.age
                form(action='/user/#{user._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p 
                    a(href='/user/#{user._id}/edit') Edit
                p
                    a(href='/user/#{user._id}') Show
